<h1 style="text-align: center">Developer Page</h1>

<!---------New FAQ Submission Window--------->
<div class="container">

  <div class="row">
    <input type="text" id="newQuestion" placeholder="Enter new quesiton here..." [(ngModel)]="newQuestion">
  </div>

  <div class="row">
    <input type="text" id="newAnswer" placeholder="Enter the answer here..." [(ngModel)]="newAnswer">
  </div>

  <button type="button" (click)="onSubmit1(newQuestion, newAnswer)"> Submit FAQ </button>

</div>

<!---------New Contact Submission Window--------->
<div class="container">

  <div class="row">
    <input type="text" id="newContactName" placeholder="Enter new contact phone number here..." [(ngModel)]="newContactNumber">
  </div>

  <div class="row">
    <input type="text" id="newContactEmail" placeholder="Enter new contact email here..." [(ngModel)]="newContactEmail">
  </div>

  <div class="row">
    <input type="text" id="newContactNumber" placeholder="Enter new contact department here..." [(ngModel)]="newContactDepartment">
  </div>

  <button type="button" (click)="onSubmit2(newContactNumber, newContactEmail, newContactDepartment)"> Submit Contact </button>
</div>
